.message {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  }
  
  .user-message {
    align-self: flex-end;
    background-color: #7b3939;
    color: white;
  }
  
  .bot-message {
    align-self: flex-start;
    background-color: rgb(242, 242, 242);
    color: rgb(62, 62, 62);
  }
  
  
  .chatbot {
    min-width: 95%;
    max-width: 95%;
    border: 1px solid #e0e0e0;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    /*border-radius: 5px;*/
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.2);*/
  }
  
  .chat-messages {
    overflow-y: auto;
    max-height: 80vh;
    min-height: 50vh;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
  }
  
  .chatbot-input {
    display: flex;
    gap: 10px;
  }
  
  .chatbot-input > input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
  }
  
  .category-buttons {
    margin-bottom: 20px; /* Adjust the value as needed */
    display: flex;
    justify-content: center; /* Horizontally center the buttons */
  }

  .buttonNews {
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #7b3939;
    color: white;
    margin-left: 10px;
  }

  .title{
    color: rgb(230, 30, 20);
  }