.header {
    padding: 10px 0; /* some padding */
  }
  
  .nav {
    width: 100%; /* nav width */
    max-width: 1200px; /* maximum width */
    margin: 0 auto; /* centering the nav */
    display: flex; /* using flexbox for layout */
    justify-content: space-between; /* space between items */
    align-items: center; /* vertical alignment */
  }
  
  .nav ul {
    list-style: none; /* removing bullet points */
    display: flex; /* using flexbox for the list */
    margin: 0; /* removing default margin */
    padding: 0; /* removing default padding */
  }
  
  .link {
    text-decoration: none; /* removing underline */
    color: #333; /* dark text color */
    font-size: 16px; /* font size */
    padding: 10px 15px; /* padding around links */
    border-radius: 5px; /* rounded corners */
    transition: background-color 0.3s ease; /* smooth background transition */
  }
  
  .link:hover {
    background-color: #ddd; /* lighter background on hover */
  }
  

  .link_two {
    text-decoration: none; /* removing underline */
    color: rgb(230, 30, 20); /* dark text color */
    font-size: 16px; /* font size */
    padding: 10px 15px; /* padding around links */
    border-radius: 5px; /* rounded corners */
    transition: background-color 0.3s ease; /* smooth background transition */
  }
  
  .link_two:hover {
    background-color: #ddd; /* lighter background on hover */
  }
  